/* RESET */
html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 8px;
}

/* THEMES */


body,
body[data-theme='dark'] {
  --color-bg: #16161a;
  --color-card-bg: #242629;
  --color-title: #fffffe;
  --color-paragraph: #94a1b2;
  --color-stroke: #010101;
  --color-purple: #7f5af0;
  --color-green: #2cb67d;
  --color-bg-toggle: #2cb67d;
}

body[data-theme='light'] {
  --color-bg: #fffffe;
  --color-card-bg: #94a1b2;
  --color-title: #010101;
  --color-paragraph: #16161a;
  --color-stroke: #010101;
  --color-purple: #7f5af0;
  --color-green: #2cb67d;
  --color-bg-toggle: #7f5af0;
}
:root {
  --box-shadow: rgba(0, 0, 0, 0.486) 0px 5px 15px;
}

/* GLOBAL STYLES */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  color: var(--color-paragraph);
  font-size: 1.1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    color: var(--color-paragraph);
    font-size: 0.9rem;
  }
  button {
    font-size: 0.9rem;
  }
}
